<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="stylesheets/style.css">
        <script src="javascripts/angular.js"></script>
        <script src="javascripts/main.js"></script>
    </head>
    <body ng-app="root">
        <div ng-controller="index">
            <header>
                <h1>Nepho! A phone<del>pho</del> comparison web app!</h1>
                <h2>Built with <a href="https://fonoapi.freshpixl.com/">fonoapi</a> by Philip Scott</h2>
                <p ng-bind="message"></p>
                <form action="/" method="post">
                    <input type="text" name="search">
                    <input type="submit" value="Search!">
                </form>
            </header>
            <section class="phones">
            {{#each phone}}
                <div class="phone-entry">
                    <h1>{{this.DeviceName}}</h1>
                    <table>
                        {{#each this}}
                            <tr>
                                <td>{{@key}}</td>
                                <td>{{this}}</td>
                            </tr>
                        {{/each}}
                    </table>
                </div>
            {{/each}}
            </section>
        </div>
        <footer>
            built with <a href="https://fonoapi.freshpixl.com/">fonoapi</a> by Philip Scott
        </footer>
    </body>
</html>
