<html>
    <head>
        <link rel="stylesheet" href="stylesheets/style.css">
        <script src="javascripts/angular.js"></script>
        <script src="javascripts/main.js"></script>
    </head>
    <body ng-app="root">
        <div ng-controller="index">
            <p ng-bind="message"></p>
            <form action="/" method="post">
                <input type="text" name="search">
                <input type="submit" value="Search!">
            </form>
            {{#each phone}}
                <div class="phone-entry">
                    <h1>{{this.DeviceName}}</h1>
                    <table>
                        {{#each this}}
                            <tr>
                                <td>{{@key}}</td>
                                <td>{{this}}</td>
                            </tr>
                        {{/each}}
                    </table>
                </div>
            {{/each}}
        </div>
    </body>
</html>
